//main: ../index.scss

.btn {
  @include transition();
  @extend .uppercase;
  $padding-tb: 10px;
  display: inline-block;
  padding: $padding-tb 36px;
  color: $color-tertiary;
  min-width: 130px;
  cursor: pointer;

  &-border {
    @extend .btn;
    $border: 2px solid $color-tertiary;
    border: $border;
    background-color: transparent;

    &-rounded {
      @extend .btn-border;
      border-radius: 6px;
    }

    &-rounded-full {
      @extend .btn-border;
      border-radius: ($padding-tb) * 2 + $font-size;

      &-inverse {
        @extend .btn-border;
        border-radius: ($padding-tb) * 2 + $font-size;
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
    &:hover {
      background-color: $color-tertiary;
      color: white;
    }
  }
}
