//main: ../index.scss

.scrollbox-container {
  background-color: white;
  border-radius: 10px;
  height: 60vh;
  padding: 20px 20px 10px 20px;
  @include respond-to($medium) {
    height: 60vh;
  }

  .scrollbox {
    overflow-y: scroll;
    height: 100%;

    .scrollbox-inside {
      p {
        line-height: 25px;
      }
    }
  }

  &.exo {
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    padding: 20px 20px 10px 20px;
    @include respond-to($medium) {
      height: 60vh;
    }

    .scrollbox {
      overflow-y: scroll;
      height: 100%;

      .scrollbox-inside {
        p {
          line-height: 1.4rem;
          background-color: #cbcbcb;
          margin-top: 5px;
          margin-right: 10px;
          margin-bottom: 10px;
          height: 20px;
          color: #cbcbcb;
        }
      }
    }
  }
}

.sp-fz {
  max-width: 50vw;
  max-height: 400px;
  position: absolute;
  right: 0;
  opacity: 0.2;
  z-index: -2;
}

.br {
  position: relative;
  width: 100%;
  height: 100%;
}
