//main: ../index.scss

.collection {

}
.title {
  font-size:1em;
  font-weight:bold;
  margin-bottom: 2%
}

.img {
  height:60px;
  width:auto;
  float:left;
  margin-right: 20px;
}

.description {
  padding-right:150px;
}

.heading {
  margin-bottom:5%
}
