// main: ../index.scss

.shadow {
  box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.3);
  &-bottom {
    box-shadow: 0px 40px 50px -30px rgba(0,0,0,0.5);
  }
  &-bottom-small {
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
  }

  &-text {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  }
}
