@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/normalize";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/scrollable";

@import "components/list";
@import "components/btn";
// @import "components/card";
// @import "components/form";
@import "components/footer";
@import "components/gallery";
@import "components/scrollbox";
@import "components/service";
@import "components/preorder";
@import "components/feedback";
// @import "components/nav";

@import "navbar/nav2";

@import "animations/index";
@import "animations/keyframes";
@import "animations/fz-technik";
// hello
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.p{
  padding: 20px 20px 30px 20px;
  line-height: 25px;
}

.pleft{
  padding-left: 30px;
}

.testcircle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
}

.wordbreak {
  word-break: break-all;
}


.section-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  @include respond-to($medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include respond-to($medium-large) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include respond-to($large) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
