@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/normalize";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/scrollable";

@import "components/list";
@import "components/btn";
@import "components/card";
// @import "components/form";
@import "components/footer";
@import "components/gallery";
@import "components/scrollbox";
@import "components/service";
@import "components/preorder";
@import "components/team";
@import "components/feedback";
@import "components/landingPage";
@import "components/accordion";
@import "components/header";
@import "components/lightbox";
// @import "components/nav";

@import "navbar/nav2";

@import "animations/index";
@import "animations/keyframes";
@import "animations/fz-technik";
// hello
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: '7thService';
  src: url(../media/fonts/7thservice.ttf) format('truetype');
}
.hh2{
  height: 20vh;
}

.cookieText{
  font-size: 12pt;
}
.cookieConsent{
  text-align: center;
}
.cookieConsent button{
  font-weight: bold;
}

.orderButton{
  cursor:default;
  margin-right: 5px;
  margin-left: 5px;
  &:hover {
    background-color: transparent !important;
    color: $color-tertiary !important;
  }
}

.dtlist{
  padding-left: 20px;
  li::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: -16px;
    background-color: $color-primary;
    border-radius: 50%;
  }
}

.facebookImg{
  padding-top:10px;
}

.p{
  padding: 20px 20px 30px 20px;
  line-height: 25px;
}

.pleft{
  padding-left: 30px;
}

.testcircle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
}

.wordbreak {
  word-break: break-all;
}


.section-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  @include respond-to($medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include respond-to($medium-large) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include respond-to($large) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.fz-technik-text-pos {
  width: 330px;
  position: absolute;
  top: 53%;
  left: 3vw;
  text-align: right;
  transition: 500ms;
  @include respond-to($medium-large) {
    left: 12vw;
    transition: 500ms;
  }
  @include respond-to($large) {
    transition: 500ms;
    top: 55%;
    left: 20vw;
  }
}

.bigger {
  font-size: 16pt;
  line-height: 25pt;
}

.pb {
  padding-bottom: 50px;
  border-bottom: 1px solid #ebebeb;
  @include respond-to($medium) {
    border: none;
    padding-bottom: 70px;
  }
}

.pt {
  padding-top: 50px;
  @include respond-to($medium) {
    padding-top: 70px;
  }
}

.pRight {
  padding-right: 30px;
}

.borderBottom {
  border-bottom: 1px solid #ebebeb;
}

.spb {
  padding-bottom: 15px;
  font-size: 14pt;
}

.sph6pb {
  padding-bottom: 15px;
}

.nopt {
  padding-top: 0px;
}

.logoleiste {
  position: absolute;
  right: 7%;
  top: calc(100vh - 80vh);
  max-width: 150px;
  flex-wrap: wrap;
  div {
    padding: 25px;
    width: 100%;

    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.my-sp-border {
  border-right: 1px solid #f5f5f5;
}

.yes {
  color: $success;
  font-size: 16pt;
  font-weight: bold;
}

.no {
  color: $error;
  font-size: 16pt;
  font-weight: bold;
}

.bb {
  border-bottom: 1px solid #ebebeb;
}

.sspt {
  padding-top: 15px;
}

.smothscroll {
  scroll-behavior: smooth;
}
