// main: ../index.scss

@include keyframes(moveTop) {
  0%   { top: 100vh; }
  100% { top: 0; }
}

@include keyframes(moveBottom) {
  0%   { top: 0; }
  100% { top: 100vh; }
}


@include keyframes(gradientToWhite) {
  0%    { background: linear-gradient( 90deg, #f5f5f5, #ffde00 ) }
  100%  { background: linear-gradient( 90deg, #f5f5f5, #f5f5f5 ) }
}
